[Desktop Entry]
Version=1.0
Type=Application
Name=Start GUI
Comment=Start Lubuntu Desktop Environment
Exec=/usr/local/bin/start-gui
Icon=applications-graphics
Terminal=true
Categories=System;
StartupNotify=true